In [1]:
# Added to github on 9/5

In [2]:
# Shortcomings/Assumptions: higher values realistically would not have the same permutation distribution as middle ones, 
# i.e. it would take dramatic changes realistically esp. politically to move from a 9 to a 10. Would be like California changing from 
# 50% to 60% renewable

In [3]:
for i in np.nditer(smpat):
    print i
    
# LEARNED: don't forget double (()) 's for numpy operations and stacking

NameError: name 'np' is not defined

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy.matlib as M
from numpy.matlib import rand,zeros,ones,empty,eye
np.set_printoptions(precision=3)

In [10]:
# as array = matrix.A

# Create a Sample Matrix 10 x 10 from mu + std*randn
5+M.randn((10,10))*1


# One Loop

# Print Loop number n

# How are we permuting the matrix?
# uniform, normally, etc

# Save the matrix for inspection

# Calculate Rankings and Save
# save as ?? 


# Create Column Array of Ones
onemat = ones((10)).A.T
# Create Array with Columns as 1s, 2s, 3s, etc
smpat = np.hstack((onemat, 2*onemat, 3*onemat, 4*onemat, 5*onemat, 6*onemat, 7*onemat, 8*onemat, 9*onemat, 10*onemat))
# Initialize results matrix
results = zeros((10,10)).A

%time
results = np.copy(smpat)
N = 100
# N randomizations (of master ranking), creating 10x10xN matrix
# get results of kth simulation with results[:,:,k-1]
# (Random Normal Permutation)
for i in range(1,N):
    cpy = np.copy(smpat)
    # Permute
    # If < 0 set to 0, if > 10 set to 10
    for x in np.nditer(cpy, op_flags=['readwrite']):
        # random samples = mu + sigma * randn
        x[...] = x + M.randn(1,1)*2
        if x>10: x[...] = 10
        if x<0: x[...] = 0
    results = np.dstack((results,cpy))


# Gives Resulting Matrix ()
results.shape
results[:,:,0] 


# TODO: if each site is a ROW, average across the rows for the final value


results[:,:,0].mean()
# Apply along axis=1 i.e. columns
np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,0])
# now we have array of length = 10 with averages for each row

# But if we want to just look at one site/row:
# array of averages for row 1
site1 = results[0,:,:] # 10x100 array
# Mean along cols gives average score on "features" (not desirable)
np.apply_along_axis(lambda x: x.mean(), 1, site1)
# Mean along rows gives average total score for each simulation (sort of desirable)
site1scores = np.apply_along_axis(lambda x: x.mean(), 0, site1)
# First, plot the change in score over simulations

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 3.1 Âµs

In [14]:
k = range(0,100)

In [18]:
plt.plot(k, site1scores)
plt.show()
# But really we want the distribution of scores

In [22]:
plt.boxplot(site1scores)
plt.show()
# But we really want the ranking

In [23]:
np.apply_along_axis(lambda x: x.mean(), 1, site1)

array([ 1.197,  2.163,  2.812,  4.088,  5.076,  5.752,  6.883,  7.797,
        8.739,  9.14 ])

In [55]:
# Let's use one to get the ranking of the average scores
scores1 = np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,1])

# need to index or label as sites
series1 = pd.Series(data= scores1, index = ['site' + str(i) for i in range(1,len(scores1)+1)])

In [57]:
scores2 = np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,2])
series2 = pd.Series(data= scores2, index = ['site' + str(i) for i in range(1,len(scores2)+1)])

In [63]:
# Append (hcat) series2 to series1
pd.concat([series1.rank(), series2.rank()], axis=1)

           0     1
site1    2.0   1.0
site2    4.0   9.0
site3    1.0   8.0
site4    9.0   3.0
site5    7.0   6.0
site6    3.0   2.0
site7   10.0   5.0
site8    5.0   7.0
site9    6.0   4.0
site10   8.0  10.0

In [79]:
series = pd.Series(data=np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,0]), index = ['Site ' + str(k) for k in range(1,results.shape[0]+1)])

for i in range(0,100):
    series_new = pd.Series(data=np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,i]), index = ['Site ' + str(k) for k in range(1,results.shape[0]+1)])
    series_cat = pd.concat([series.rank(), series_new.rank()], axis=1)
    series = series_cat
    ++i

In [ ]:
[pd.concat([pd.Series(data=np.apply_along_axis(lambda x: x.mean(), results[:,:,i]), index = ['Site ' + str(k) for k in range(1,results.shape[0]+1)]])]

In [67]:
results.shape[0]

10

In [49]:
# The 'score' for each of N simulation 
results_avg = np.apply_along_axis(lambda x: x.mean(), 1, results)

In [50]:
# Need to put into Dataframe (N dataframes)

array([[ 5.5  ,  4.438,  4.112,  4.942,  4.973,  5.622,  5.207,  6.174,
         5.867,  4.837,  5.394,  5.647,  5.07 ,  5.117,  5.476,  4.897,
         5.108,  5.594,  5.817,  4.413,  6.159,  5.644,  5.695,  4.474,
         5.644,  4.723,  5.709,  5.788,  5.209,  4.986,  5.337,  4.472,
         5.502,  5.601,  5.102,  5.283,  5.394,  4.941,  5.768,  5.075,
         5.415,  5.586,  5.462,  5.283,  5.106,  6.441,  4.896,  5.215,
         5.006,  5.91 ,  5.576,  5.949,  5.67 ,  5.953,  5.891,  5.507,
         5.003,  5.635,  6.772,  4.312,  5.258,  4.702,  5.436,  5.507,
         6.338,  4.297,  5.9  ,  5.272,  6.127,  4.897,  4.719,  5.773,
         5.105,  5.238,  6.372,  6.24 ,  4.88 ,  4.567,  5.087,  5.193,
         5.258,  5.05 ,  6.255,  5.72 ,  5.094,  4.905,  5.505,  5.417,
         6.176,  4.967,  4.683,  5.243,  6.564,  4.508,  6.441,  5.077,
         5.381,  5.286,  5.565,  5.161],
       [ 5.5  ,  5.076,  5.845,  5.349,  4.879,  5.305,  6.42 ,  5.219,
         5.421,  5.742,  6.686,  5.325,  5.171,  4.445,  6.291,  5.846,
         5.79 ,  6.272,  5.813,  5.183,  6.445,  5.856,  5.929,  4.986,
         5.944,  6.202,  4.96 ,  5.221,  5.701,  5.539,  5.731,  6.008,
         5.325,  4.611,  5.018,  5.697,  5.771,  6.651,  5.487,  5.304,
         5.198,  6.043,  5.534,  4.789,  5.389,  4.966,  5.238,  5.377,
         4.642,  5.123,  4.763,  5.102,  5.742,  5.631,  5.398,  4.938,
         5.891,  5.829,  5.08 ,  4.925,  4.72 ,  5.56 ,  6.174,  5.858,
         5.955,  5.47 ,  5.729,  6.385,  5.47 ,  5.919,  4.712,  5.577,
         4.671,  4.959,  6.125,  5.298,  6.144,  5.712,  5.465,  3.871,
         5.128,  5.575,  5.296,  5.678,  5.313,  4.558,  4.702,  5.269,
         6.562,  6.107,  5.647,  4.342,  5.722,  5.313,  4.971,  6.123,
         5.632,  5.104,  4.935,  5.295],
       [ 5.5  ,  4.259,  5.669,  5.372,  5.193,  5.226,  5.351,  5.508,
         5.592,  5.109,  5.49 ,  5.774,  6.337,  5.175,  4.969,  5.385,
         5.913,  4.825,  5.623,  5.655,  5.2  ,  4.75 ,  6.043,  5.484,
         4.9  ,  6.076,  4.868,  5.05 ,  4.938,  4.744,  4.794,  4.98 ,
         5.33 ,  4.79 ,  5.276,  6.202,  5.136,  6.28 ,  6.359,  5.409,
         5.692,  6.312,  4.232,  4.977,  5.104,  5.379,  5.534,  5.394,
         5.944,  5.177,  5.91 ,  5.274,  5.2  ,  5.591,  5.509,  5.158,
         5.097,  5.   ,  4.244,  5.619,  5.366,  4.779,  5.316,  5.623,
         5.194,  5.569,  5.68 ,  5.54 ,  5.148,  5.098,  4.54 ,  4.033,
         4.85 ,  4.347,  6.006,  4.698,  6.209,  5.254,  4.974,  4.961,
         4.999,  5.413,  6.094,  5.064,  6.019,  6.415,  5.484,  4.849,
         4.762,  5.573,  5.437,  4.64 ,  5.662,  5.755,  5.554,  4.955,
         4.547,  4.34 ,  4.761,  5.045],
       [ 5.5  ,  6.304,  5.104,  6.494,  5.815,  5.553,  5.774,  5.811,
         6.136,  5.945,  5.864,  4.648,  4.823,  5.535,  5.829,  5.013,
         5.806,  5.256,  6.122,  5.811,  5.323,  4.88 ,  6.117,  5.34 ,
         5.088,  5.472,  4.797,  5.894,  5.687,  6.525,  5.82 ,  5.258,
         5.41 ,  5.05 ,  5.35 ,  5.617,  4.869,  4.943,  4.921,  5.925,
         5.334,  4.435,  5.54 ,  5.997,  5.704,  5.411,  5.65 ,  5.031,
         5.288,  5.34 ,  5.248,  5.976,  5.857,  6.036,  5.677,  5.01 ,
         5.765,  5.328,  5.775,  6.083,  5.021,  4.205,  6.203,  4.71 ,
         5.585,  5.563,  4.01 ,  5.575,  5.756,  6.701,  5.814,  5.839,
         6.891,  5.088,  4.971,  5.872,  5.209,  4.895,  5.451,  5.276,
         4.673,  5.47 ,  5.537,  5.346,  5.235,  5.019,  5.696,  5.671,
         5.113,  6.108,  6.134,  5.357,  5.206,  4.82 ,  5.351,  5.221,
         4.934,  4.702,  6.795,  5.375],
       [ 5.5  ,  5.528,  5.506,  4.979,  5.271,  5.593,  5.481,  5.667,
         5.938,  5.907,  5.434,  5.864,  5.158,  5.793,  6.282,  5.901,
         5.695,  5.263,  5.154,  5.739,  5.794,  5.15 ,  5.566,  6.972,
         5.97 ,  5.339,  5.038,  6.396,  6.156,  5.346,  5.254,  5.126,
         5.637,  4.726,  3.455,  5.194,  6.121,  5.615,  5.35 ,  4.681,
         5.326,  5.087,  4.771,  6.244,  5.712,  5.467,  5.818,  5.986,
         5.04 ,  4.977,  5.724,  5.939,  5.37 ,  5.919,  4.819,  6.607,
         4.579,  4.503,  4.571,  4.98 ,  4.959,  5.855,  5.09 ,  5.011,
         5.258,  5.55 ,  5.341,  5.304,  4.854,  5.086,  5.455,  5.743,
         5.236,  5.923,  5.415,  5.007,  4.933,  4.941,  5.471,  5.806,
         5.405,  5.388,  5.582,  4.94 ,  5.659,  5.146,  4.656,  5.407,
         5.202,  5.718,  5.96 ,  5.266,  4.506,  5.627,  4.799,  5.845,
         4.811,  5.385,  4.669,  4.295],
       [ 5.5  ,  5.051,  4.301,  4.729,  6.37 ,  4.628,  5.761,  6.305,
         6.181,  5.5  ,  5.061,  6.076,  5.386,  5.748,  5.573,  5.305,
         5.04 ,  4.429,  5.283,  5.392,  5.344,  4.951,  6.252,  5.708,
         5.96 ,  5.19 ,  4.968,  6.154,  6.284,  5.004,  6.194,  5.968,
         5.897,  5.536,  4.042,  5.438,  4.897,  5.947,  5.305,  4.989,
         5.649,  5.347,  4.435,  4.976,  5.401,  5.154,  4.358,  6.022,
         4.805,  4.838,  6.568,  5.415,  5.431,  5.633,  5.33 ,  5.686,
         5.724,  5.39 ,  6.23 ,  5.869,  4.842,  4.562,  5.178,  5.23 ,
         5.887,  5.131,  5.926,  5.423,  5.986,  5.004,  5.668,  6.273,
         5.293,  4.669,  5.092,  5.573,  4.8  ,  4.909,  5.076,  5.449,
         5.402,  5.182,  5.051,  5.445,  5.108,  5.593,  6.272,  5.848,
         5.179,  5.119,  5.596,  5.075,  5.562,  5.067,  5.417,  5.888,
         5.13 ,  5.189,  4.761,  5.174],
       [ 5.5  ,  6.59 ,  5.217,  4.886,  5.335,  6.757,  4.085,  4.965,
         5.836,  5.438,  5.86 ,  5.459,  4.811,  4.379,  4.74 ,  4.856,
         5.375,  5.606,  5.127,  4.869,  4.535,  5.374,  5.307,  5.974,
         5.461,  5.164,  5.825,  5.283,  5.693,  5.044,  4.719,  5.515,
         5.657,  4.525,  6.518,  6.403,  5.741,  4.963,  5.48 ,  4.839,
         5.381,  4.763,  5.231,  5.372,  5.276,  5.451,  5.113,  5.752,
         4.761,  5.815,  6.652,  6.476,  4.295,  5.801,  4.613,  5.767,
         5.792,  4.898,  5.165,  6.821,  4.868,  5.42 ,  5.218,  5.757,
         5.579,  5.355,  4.654,  5.515,  6.164,  5.742,  5.884,  6.688,
         4.963,  6.182,  5.332,  6.209,  5.573,  5.023,  5.478,  4.835,
         6.686,  4.365,  5.43 ,  5.353,  5.918,  5.614,  5.185,  6.405,
         5.637,  5.392,  6.218,  5.551,  4.754,  5.747,  5.01 ,  5.714,
         5.686,  5.407,  5.347,  4.705],
       [ 5.5  ,  5.145,  5.519,  4.912,  5.731,  6.013,  5.355,  5.292,
         5.285,  5.821,  5.088,  5.874,  5.429,  5.74 ,  5.442,  5.448,
         5.743,  5.679,  6.599,  4.954,  5.778,  5.544,  5.708,  5.174,
         4.789,  5.101,  5.265,  4.311,  5.351,  5.057,  5.046,  5.561,
         6.051,  5.897,  5.061,  4.761,  6.055,  5.912,  5.469,  4.294,
         5.546,  5.477,  4.511,  4.492,  6.012,  5.028,  6.305,  5.785,
         5.005,  4.762,  5.336,  5.933,  4.77 ,  4.641,  5.497,  5.509,
         5.082,  5.416,  5.055,  6.46 ,  5.272,  5.195,  5.155,  5.063,
         6.58 ,  5.405,  5.639,  5.892,  5.37 ,  5.047,  4.785,  5.604,
         5.897,  6.183,  5.563,  5.623,  5.165,  5.256,  5.25 ,  5.948,
         5.208,  5.635,  5.008,  4.683,  5.905,  5.749,  4.697,  5.263,
         5.824,  5.239,  5.457,  5.784,  6.071,  5.289,  4.852,  4.892,
         5.86 ,  5.628,  5.379,  5.004],
       [ 5.5  ,  5.428,  5.186,  4.493,  4.555,  6.009,  4.643,  4.856,
         5.898,  4.507,  5.246,  5.337,  5.648,  5.381,  5.843,  5.273,
         5.245,  5.212,  6.02 ,  5.107,  5.028,  5.097,  5.3  ,  6.048,
         5.737,  5.349,  4.862,  6.536,  4.654,  5.827,  5.567,  5.248,
         5.919,  5.166,  5.195,  4.859,  4.835,  5.691,  4.892,  7.009,
         5.762,  5.912,  5.371,  5.479,  6.087,  5.628,  5.164,  4.462,
         6.601,  4.787,  5.531,  5.991,  4.932,  5.704,  5.362,  4.642,
         6.381,  5.553,  6.373,  5.798,  4.492,  5.446,  6.77 ,  5.798,
         5.415,  6.747,  4.704,  5.085,  4.748,  4.687,  5.748,  5.12 ,
         5.367,  5.082,  5.169,  5.936,  5.268,  5.28 ,  5.015,  6.643,
         5.131,  5.464,  5.772,  5.564,  5.996,  5.626,  5.71 ,  5.219,
         5.641,  5.365,  4.904,  6.262,  5.66 ,  4.79 ,  5.5  ,  5.111,
         5.176,  4.861,  5.623,  4.808],
       [ 5.5  ,  6.082,  5.894,  4.922,  5.771,  5.809,  4.825,  6.273,
         4.497,  4.669,  4.683,  6.152,  4.952,  5.449,  4.898,  5.997,
         6.411,  5.007,  4.793,  5.388,  6.238,  5.937,  4.788,  5.94 ,
         4.851,  5.425,  5.229,  4.94 ,  6.367,  4.758,  5.448,  5.585,
         5.649,  5.703,  5.526,  4.726,  4.708,  5.985,  5.169,  6.382,
         5.466,  5.927,  4.546,  5.493,  5.565,  4.93 ,  5.692,  5.991,
         5.333,  5.318,  5.299,  6.153,  6.484,  4.901,  5.006,  3.722,
         5.751,  5.367,  6.091,  5.106,  5.229,  6.199,  5.704,  4.743,
         5.728,  5.762,  6.312,  4.907,  5.629,  5.758,  5.765,  5.273,
         5.066,  5.5  ,  6.233,  5.892,  5.908,  5.217,  5.263,  5.371,
         5.174,  5.48 ,  5.877,  5.324,  5.65 ,  5.477,  4.977,  5.696,
         4.46 ,  5.248,  5.108,  5.262,  5.153,  5.364,  5.637,  5.938,
         5.363,  6.067,  6.316,  6.688]])

In [ ]:
# For each simulation (i.e. each 'stack')
# calculate the score (along axis 1)
# put into data frame as Site 1 .. N
# rank

In [44]:
# Returns rank
series1.rank(axis=0)

site1      2.0
site2      4.0
site3      1.0
site4      9.0
site5      7.0
site6      3.0
site7     10.0
site8      5.0
site9      6.0
site10     8.0
dtype: float64