In [1]:
# Added to github on 9/5

In [2]:
# Shortcomings/Assumptions: higher values realistically would not have the same permutation distribution as middle ones, 
# i.e. it would take dramatic changes realistically esp. politically to move from a 9 to a 10. Would be like California changing from 
# 50% to 60% renewable

In [3]:
for i in np.nditer(smpat):
    print i
    
# LEARNED: don't forget double (()) 's for numpy operations and stacking

NameError: name 'np' is not defined

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy.matlib as M
from numpy.matlib import rand,zeros,ones,empty,eye
np.set_printoptions(precision=3)

In [2]:
# as array = matrix.A

# Create a Sample Matrix 10 x 10 from mu + std*randn
5+M.randn((10,10))*1


# One Loop

# Print Loop number n

# How are we permuting the matrix?
# uniform, normally, etc

# Save the matrix for inspection

# Calculate Rankings and Save
# save as ?? 


# Create Column Array of Ones
onemat = ones((10)).A.T
# Create Array with Columns as 1s, 2s, 3s, etc
smpat = np.hstack((onemat, 2*onemat, 3*onemat, 4*onemat, 5*onemat, 6*onemat, 7*onemat, 8*onemat, 9*onemat, 10*onemat))
# Initialize results matrix
results = zeros((10,10)).A

%time
results = np.copy(smpat)
N = 101
# N randomizations (of master ranking), creating 10x10xN matrix
# get results of kth simulation with results[:,:,k-1]
# (Random Normal Permutation)
for i in range(0,N):
    cpy = np.copy(smpat)
    # Permute
    # If < 0 set to 0, if > 10 set to 10
    for x in np.nditer(cpy, op_flags=['readwrite']):
        # random samples = mu + sigma * randn
        x[...] = x + M.randn(1,1)*.5
        if x>10: x[...] = 10
        if x<0: x[...] = 0
    results = np.dstack((results,cpy))


# Gives Resulting Matrix ()
results.shape
results[:,:,0] 


# TODO: if each site is a ROW, average across the rows for the final value


results[:,:,0].mean()
# Apply along axis=1 i.e. columns
np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,0])
# now we have array of length = 10 with averages for each row

# But if we want to just look at one site/row:
# array of averages for row 1
site1 = results[0,:,:] # 10x100 array
# Mean along cols gives average score on "features" (not desirable)
np.apply_along_axis(lambda x: x.mean(), 1, site1)
# Mean along rows gives average total score for each simulation (sort of desirable)
site1scores = np.apply_along_axis(lambda x: x.mean(), 0, site1)
# First, plot the change in score over simulations

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 3.1 µs

# USE

In [99]:
# Create Column Array of Ones
onemat = ones((10)).A.T
# Create Array with Columns as 1s, 2s, 3s, etc
smpat = np.hstack((onemat, 2*onemat, 3*onemat, 4*onemat, 5*onemat, 6*onemat, 7*onemat, 8*onemat, 9*onemat, 10*onemat))
# Initialize results matrix
results = zeros((10,10)).A

%time
results = np.copy(smpat)
N = 101
# N randomizations (of master ranking), creating 10x10xN matrix
# get results of kth simulation with results[:,:,k-1]
# (Random Normal Permutation)
for i in range(0,N):
    cpy = np.copy(smpat)
    # Permute
    # If < 0 set to 0, if > 10 set to 10
    for x in np.nditer(cpy, op_flags=['readwrite']):
        # random samples = mu + sigma * randn
        x[...] = x + M.randn(1,1)*.5 # << TODO Apply Different Distribution (+/- 0.5) 
        if x>10: x[...] = 10
        if x<0: x[...] = 0
    results = np.dstack((results,cpy))

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 4.05 µs

In [102]:
# Use List Iteration then combine, KILLER
wgt_results = np.dot(results[:,:,i])

ll = []
for i in range(0,N):
    ll.append(pd.Series(data=np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,i]), index = ['Site ' + str(k) for k in range(1,results.shape[0]+1)]).rank())
ranks = pd.DataFrame(ll) # df.boxplot() does distr of values w/i ea column

# TODO: calculate scores by not just taking the 'mean', weighted average? (lambda function)

for i in range(0,N):
    ll.append(pd.Series(data=np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,i]), index = ['Site ' + str(k) for k in range(1,results.shape[0]+1)]))
scores = pd.DataFrame(ll)

### For Weighted Multipliers

In [32]:
eyes = eye((10)).A
arr = np.array([20., 16., 15., 15., 8., 5., 5., 5., 4., 4.])/100
wgts_t = eyes*arr

In [44]:
# Gives Scores
score_list = []
for i in range(0,N):
    score_list.append(pd.Series(data=np.sum(np.dot(results[:,:,I], wgts_t), axis=1), index = ['Site ' + str(k) for k in range(1,results.shape[0]+1)]))
scores = pd.DataFrame(score_list)

In [45]:
scores

,Site 1,Site 2,Site 3,Site 4,Site 5,Site 6,Site 7,Site 8,Site 9,Site 10
0,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
1,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
2,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
3,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
4,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
5,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
6,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
7,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
8,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
9,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
10,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
11,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
12,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
13,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
14,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
15,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
16,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
17,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
18,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
19,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
20,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
21,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
22,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
23,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
24,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
25,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
26,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
27,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
28,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
29,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
...,...,...,...,...,...,...,...,...,...,...
71,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
72,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
73,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
74,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
75,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
76,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
77,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
79,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
80,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
81,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
82,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
83,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
84,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
85,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
86,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
87,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
88,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
89,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
90,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
91,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
92,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
93,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
94,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
95,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
96,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
97,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
98,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
99,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78
100,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78,3.78

In [40]:
# Trash
for i in range(0,N):
    results_wgt = np.apply_along_axis(lambda x: np.dot(x, wgts_t), 2, results[:,:,i])

ValueError: axis must be less than arr.ndim; axis=2, rank=2.

In [19]:
A = ones((5,3)).A
x = np.vstack([np.hstack([1, 0, 0]), np.hstack([0, 2, 0]), np.hstack([0, 0, 3])])

In [21]:
np.dot(A,x)

array([[ 1.,  2.,  3.],
       [ 1.,  2.,  3.],
       [ 1.,  2.,  3.],
       [ 1.,  2.,  3.],
       [ 1.,  2.,  3.]])

In [30]:
eyes = eye((11)).A
arr = np.array([20., 16., 15., 15., 8., 5., 5., 5., 4., 4., 3.])/100
wgts = eyes*arr

## Plotting the above

In [ ]:
# Plot as 10 historgrams of distribution of SCORES 
scores.boxplot()
plt.show()

/home/spencer/Apps/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning:
The default value for 'return_type' will change to 'axes' in a future release.
 To use the future behavior now, set return_type='axes'.
 To keep the previous behavior and silence this warning, set return_type='dict'.
  from ipykernel import kernelapp as app

In [101]:
# Plot as 10 histograms of distribution of ranks (hist)
series.boxplot()
plt.show()

/home/spencer/Apps/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning:
The default value for 'return_type' will change to 'axes' in a future release.
 To use the future behavior now, set return_type='axes'.
 To keep the previous behavior and silence this warning, set return_type='dict'.
  from ipykernel import kernelapp as app

# OTHER

In [14]:
k = range(0,100)

In [18]:
plt.plot(k, site1scores)
plt.show()
# But really we want the distribution of scores

In [22]:
plt.boxplot(site1scores)
plt.show()
# But we really want the ranking

In [23]:
np.apply_along_axis(lambda x: x.mean(), 1, site1)

array([ 1.197,  2.163,  2.812,  4.088,  5.076,  5.752,  6.883,  7.797,
        8.739,  9.14 ])

In [55]:
# Let's use one to get the ranking of the average scores
scores1 = np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,1])

# need to index or label as sites
series1 = pd.Series(data= scores1, index = ['site' + str(i) for i in range(1,len(scores1)+1)])

In [57]:
scores2 = np.apply_along_axis(lambda x: x.mean(), 1, results[:,:,2])
series2 = pd.Series(data= scores2, index = ['site' + str(i) for i in range(1,len(scores2)+1)])

In [63]:
# Append (hcat) series2 to series1 DIDNT NEED
pd.concat([series1.rank(), series2.rank()], axis=1)

           0     1
site1    2.0   1.0
site2    4.0   9.0
site3    1.0   8.0
site4    9.0   3.0
site5    7.0   6.0
site6    3.0   2.0
site7   10.0   5.0
site8    5.0   7.0
site9    6.0   4.0
site10   8.0  10.0

In [67]:
results.shape[0]

10

In [49]:
# The 'score' for each of N simulation 
results_avg = np.apply_along_axis(lambda x: x.mean(), 1, results)